<!DOCTYPE html>
<!-- resplit index by using javascript include -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>Pôle Technologie et Entreprenariat</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Le Pôle Technologique et Entreprenariat est un pôle chargé de la fédération d'une partie des associations de l'UTC. Ces associations ont pour activité commune l'intégration de l'entreprenariat et de la technologie au sein de l'université.">


<!-- Le styles -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.css">
<!--[if IE 7]>
  <link rel="stylesheet" href="css/font-awesome-ie7.css">
<![endif]-->
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
<link href="css/small.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.png">
</head>

<body>
    <div id="listModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Liste des participants</h3>
      </div>
      <div class="modal-body">
        <ul></ul>
      </div>
    </div>

    <div id="container" class="container">
      <div class="row">
      <div class="span10 offset1">
          <div class="banner">
            <h3 class="muted hide_title">PTE</h3>
            <h4 class="muted hide_title">Pôle Technologie et Entreprenariat</h4>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </a>
               <div class="nav-collapse collapse">
                <div class="container">
                  <ul class="nav">
                    <li class="active"><a href="./#">Accueil</a></li>
                    <li><a href="./#/concours">Concours</a></li>
                    <li><a href="./#/conferences">Conférences</a></li>
                    <li><a href="./#/pte">Le pôle</a></li>
                    <li><a href="./#/contact">Contact</a></li>
                    <li><a href="./#/about">A Propos</a></li>
                  </ul>
                </div>
              </div>
          </div><!-- /.navbar -->
        </div>

        <!-- Jumbotron -->
        <div id="evts-container">
          <div class=" box">
            <div id="alerts"></div>
            <div class="row-fluid">
              
              
              <section class="left-title span1 large">
              </section>

              <section class="span10">
                <div class="title condensed">
                    <h2><span id="evt-title">Les concours</span>

                    <span id="filterBranch" class="pull-right">
                      <a href="./#/concours/gi">gi</a>,
                      <a href="./#/concours/gb">gb</a>,
                      <a href="./#/concours/gp">gp</a>, 
                      <a href="./#/concours/gm">gm</a>,
                      <a href="./#/concours/gsm">gsm</a>,
                      <a href="./#/concours/gsu">gsu</a>,
                      <a href="./#/concours/tc">tc</a>
                    </span></h2></div>
                <ul id="event-list" class="event-list">
                </ul>
              </section>
              <section class="right-title span1 large">
              </section>
            </div>
          </div>
        </div>

        <div id="home">
          <div class="last-events box">
            <div class="row-fluid">
              
              <section class="left-title span1 large">
              </section>


              <section class="span10">
                <div class="title condensed">
                    <h2>Derniers évenements</h2>
                </div>
                <div id="last-events-carousel" class="carousel slide last-events-carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#last-events-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#last-events-carousel" data-slide-to="1"></li>
                    <li data-target="#last-events-carousel" data-slide-to="2"></li>
                  </ol>
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                  </div>
                  <a class="carousel-control left" href="#last-events-carousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#last-events-carousel" data-slide="next">&rsaquo;</a>
                </div>
                </section>
                <section class="right-title span1 large">
                </section>
              </div>
              <!-- Carousel nav -->
            </div>

          <hr>

          <!-- Example row of columns -->
          <div class="row">
            <div class="span5 box">
              <div class="row-fluid">
                <section class="left-title span1 large"></section>
                <section class="span10">
                  <div class="title condensed">
                    <h2>En bref</h2>
                  </div>
                  <div class="content">
                    <p>Le Pôle Technologique et Entreprenariat est un pôle chargé de la fédération d'une partie des associations de l'UTC. Ces associations ont pour activité commune l'intégration de l'entreprenariat et de la technologie au sein de l'université.</p>
                    <a href="https://www.facebook.com/poletechnologie.entrepreneriat" target="_blank"><img src="img/facebook.jpg" alt="Retrouvez nous sur Facebook"/></a>
                  </div>
                </section>
                <section class="right-title span1 large">
                </section>  
              </div>
            </div>
            <div class="span5 box">
              <div class="row-fluid">
                <section class="left-title span1 large">
                </section>
                <section class="span10">
                  <div class="title condensed">
                    <h2>Twitter</h2>
                  </div>
                  <div class="content">
                    <p><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/pte_utc/tweets-des-assos" data-widget-id="344418927805337600">Tweets de @pte_utc/tweets-des-assos</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</p>
                  </div>
                </section>
                <section class="right-title span1 large"></section>
           </div>
          </div>
          <div class="clearfix"></div>

      <hr/></div>
      </div> <!-- home -->

      <div id="assos">

          <div class=" box">
            <div class="row-fluid">
              
              <section class="left-title span1 large">
              </section>

              <section class="span10">
                <div class="title condensed">
                    <h2>Le pôle</h2>
                </div>
                <div>
                  <p>Le PTE est l'un des quatre pôles associatifs de l'utc...
                  <br/><br/>
                  <h4>Ok, mais les pôles, c'est quoi?</h4>
                  Eh bien...<br/>
                  Le but des pôles est de rassembler les associations par thématique, afin de promouvoir la coopération inter-assos et aider chaque asso dans leurs projets. L'objectif des pôles est de soutenir, maintenir et développer la vie associative à l'UTC.
                  Ainsi, les pôles sont la charnière entre les associations et le Bureau Des Elèves (BDE).
                  <br/><br/>
                  <h4>Le PTE regroupe les assos en rapport avec le thème des technologies et de l'entreprenariat.</h4>
                  Nous avons la charge de la répartition des subventions accordées par le BDE, l'écoute des attentes des assos, la communication de leurs activités, le support logistique... Cela passe par exemple, par l'organisation d'une semaine des pôles, la proposition d'un local atelier pour les associations technologiques, ou la représentation des associations lors de grands évènements utcéens.
                  <br/><br/>
                  Hormis cette activité de soutien, le PTE organise des conférences conviviales, autour des thèmes soutenus par le pôle (la technologie, le monde professionnel, l'innovation), qui seront proposées directement à destination des élèves-ingénieurs de l'UTC, toutes branches confondues.
                  <br/><br/>
                  Si vous êtes désireux d'apporter votre aide, des idées, au pôle ou à ses associations, ou encore si vous êtes porteur d'un projet associatif s'inscrivant dans notre thématique, n'hésitez pas à nous contacter! </p>
                </div>
                </section>
                <section class="right-title span1 large">
                </section>
              </div>
              <!-- Carousel nav -->
            </div>

            <div class="box">
            <div class="row-fluid">
              
              <section class="left-title span1 large">
              </section>

              <section class="span10">
                <div class="title condensed">
                    <h2>Les membres</h2>
                </div>
                <div class="content">
                  <em>Survolez pour découvrir leurs rôles.</em>
                  <ul class="member-list">
                    <div class="row-fluid">  
                      <li class="span3">
                        <div class="member" id="president">
                          <img class="img-polaroid" src="img/members/president.jpg" alt="member picture"/>
                          <h5>Président</h5>
                          <p>Le président est garant de la bonne conduite des projets, fait le lien entre les associations du PTE avec le BDE et l'administration.</p>
                        </div>
                      </li>
                      <li class="span3">
                        <div class="member" id="tresorier">
                          <img class="img-polaroid" src="img/members/tresorier.jpg" alt="member picture"/>
                          <h5>Trésorier</h5>
                          <p>Le trésorier a la responsabilité des comptes du PTE ainsi que des comptes des projets, clubs et commission.</p>
                        </div>
                      </li>
                      <li class="span3">
                        <div class="member" id="secretaire">
                          <img class="img-polaroid" src="img/members/secretaire.jpg" alt="member picture"/>
                          <h5>Secrétaire Général</h5>
                          <p>Le secrétaire générale est chargé du suivi et du conseil administratif auprès des associations PTE.</p>
                        </div>
                      </li>
                      <li class="span3">
                        <div class="member" id="respcomm">
                          <img class="img-polaroid" src="img/members/respcomm.jpg" alt="member picture"/>
                          <h5>Resp comm'</h5>
                          <p>Le responsable communication est chargé d'établir la communication du PTE ainsi que d'aider les associations du PTE à communiquer.</p>
                        </div>
                      </li>
                    </div>
                    <div class="row-fluid">
                      <li class="span3">
                        <div class="member" id="respconf">
                          <img class="img-polaroid" src="img/members/respconferences.jpg" alt="member picture"/>
                          <h5>Resp conférences</h5>
                          <p>Le responsable conférences est là pour organiser des conférences sur les thèmes établis en partenariat avec les associations du PTE et l'administration.</p>
                        </div>
                      </li>
                    </div>
                    </ul>
                  
                </div>
                </section>
                <section class="right-title span1 large">
                </section>
              </div>
              <!-- Carousel nav -->
            </div>

          
          <div class="clearfix"></div>
      </div><!-- assos -->
      

      <div id="contact">
          <div class=" box">
            <div class="row-fluid">
              
              <section class="left-title span1 large">
              </section>

              <section class="span10">
                <div class="title condensed">
                    <h2>Contact</h2>
                </div>
                <div>
                  <form class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label" for="email">Email</label>
                      <div class="controls">
                        <input type="email" id="email" required="required">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="object">Objet</label>
                      <div class="controls">
                        <input type="text" id="object" required="required">
                      </div>
                    </div>
                    <div class="control-group">
                      <label for="content" class="control-label">Message</label>
                      <div class="controls">
                        <textarea id="content" name="content" rows="5" required="required"></textarea>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn">Envoyer</button>
                    </div>
                  </form>
                </div>
                </section>
                <section class="right-title span1 large">
                </section>
              </div>
            </div>

          <div class="clearfix"></div>
      </div> <!-- contact -->
         
      <div id="about">
          <div class=" box">
            <div class="row-fluid">
              
              <section class="left-title span1 large">
              </section>

              <section class="span10">
                <div class="title condensed">
                    <h2>A propos</h2>
                </div>
                <div>
                  <p>
                    <h4>Pourquoi un pôle ?</h4>
                    <em>Synergie, nom féminin :</em><br/>
                    Mise en commun de moyens qui se renforcent entre eux pour aboutir à un même but
                    Synonyme Association
                    <br/><br/>
                    ... Cette idée toute récente de création de pôle (février 2011) et de rassembler les assos par thématique tend à promouvoir la coopération inter-assos et à aider à la coordination des assos du pôle, et à faciliter la communication entre les assos et le Bureau Des Elèves (BDE).
                    Notre but est de créer une véritable synergie entre les différentes associations du pôle. Puisqu'une association ne peut fonctionner seule, le pôle est là pour apporter son soutien en la conseillant, en faisant remonter les questions jusqu'au BDE, et en consultant les différents membres du pôle.
                    <h4>A part ça, vous faites quoi ?</h4>
                    Notre rôle est multiple. Nous avons également pour tâche de :
                      <ul>
                        <li>Gérer les subventions des assos accordées par le BDE ;</li>
                        <li>Agir en tant qu'intermédiaire privilégié pour chaque assos ;</li>
                        <li>Représenter les différentes assos lors des AG et CA du BDE, remonter les questions que les assos se posent au BDE ;</li>
                        <li>Nous occuper de la logistique des assos ;</li>
                        <li>Garder les traces, relevés et comptes-rendus pour faciliter la passation aux prochaines équipes!</li>
                      </ul>
                  </p>
                </div>
                </section>
                <section class="right-title span1 large">
                </section>
              </div>
            </div>
          <div class="clearfix"></div>
      </div><!-- About -->
    <footer class="footer">
      Pôle Technologie et Entreprenariat - <a href="admin">Admin</a> - <a href="http://wwwassos.utc.fr/">Portail des assos</a> - <a href="http://utc.fr" title="utc.fr">UTC</a> (2013)
    </footer>
    </div> <!--  -->
  </div> <!-- /container -->
  </body>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/template" id="evt-template">
        <h3 class="event-title condensed"><a href="./#/evt/<%- id %>"> <%- title %></a></h3>
        <div class="event-content">
          <div class="event-info">
            <div class="row-fluid">
                <div class="event-img span6"><img src="<%- img_path %>" class="img-polaroid"/></div>
              <dl class="span6">
              <% if (type === "conferences"){ %>
                <dt class="date">Date </dt>
                <dd class="date-info"><%- begin_date %></dd>
                <dt class="place">Lieu </dt>
                <dd class="date-info"><%- place %></dd>
              <% } else { %>
                <dt class="date">Date de début</dt>
                <dd class="date-info"><%- begin_date %></dd>
                <dt class="date">Date de fin de dépôt des dossiers</dt>
                <dd class="date-info"><%- end_date %></dd>
                <dt class="pdf">Informations complémentaires</dt>
                <dd class="pdf-info"><i class="img-circle icon-file-alt"></i><a href="<%- pdf_path %>"><%- pdf_title %></a></dd>
              <% } %>
                <dt class="participate"><a href="https://cas.utc.fr/cas/login?service=http://assos.utc.fr/polete/backend/inscription.php?evt_id=<%- id %>"><button class="btn">Participer</button></a></dt>
                <dt class="branche">Branche</dt>
                <dd class="branche-info"><%- branch %></dd>
              </dl>
            </div>
          </div>
          <div class="event-desc"></div>
	  <div>
              <% if (type === "concours"){ %>
            <br /><a href="./#/concours/list/<%- id %>"> Liste des inscrits</a>
            <% } %>
          </div>
        </div>
      </div>
    </script>
    <script type="text/template" id="carousel-template">
                      <img src="<%- img_path %>" alt="image">
                      <div class="carousel-caption span5 offset4">
                        <h3><%- title %></h3>
                        <p class="more"><i class="icon-link"></i> <a href="./#/evt/<%- id %>">Détails</a></p>
                      </div>
    </script>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/editor/bootstrap-wysiwyg.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="lib/underscore-min.js" type="text/javascript"></script>
    <script src="lib/backbone-min.js" type="text/javascript"></script>
    <script src="frontend/config.js" type="text/javascript"></script>
    <script src="frontend/model.js" type="text/javascript"></script>
    <script src="frontend/view.js" type="text/javascript"></script>
    <script src="frontend/app.js" type="text/javascript"></script>
    <script src="frontend/routeur.js" type="text/javascript"></script>
</html>
