<html>
    <head>
        <title> Admin pte </title>

<!-- Le styles -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<link href="../css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="../css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="../lib/editor/bootstrap-wysihtml5.css"></link>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!--[if IE 7]>
  <link rel="stylesheet" href="css/font-awesome-ie7.css">
<![endif]-->
<link href="../css/bootstrap-responsive.css" rel="stylesheet">
<!-- <link href="../css/app.css" rel="stylesheet"> -->
<link href="../css/small.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link> -->


<link rel="stylesheet" type="text/css" href="../lib/editor/libs/css/bootstrap-wysihtml5.css"></link>
<link rel="stylesheet" type="text/css" href="../lib/editor/libs/css/bootstrap.min.css"></link>
<script src="../lib/editor/libs/js/wysihtml5.js"></script>
<script src="../lib/editor/libs/js/jquery.min.js"></script>
<script src="../lib/editor/libs/js/bootstrap.min.js"></script>
<script src="../lib/editor/libs/js/bootstrap-wysihtml5.min.js"></script>


<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.png">
    </head>
    <body>
    <script src="http://malsup.github.com/jquery.form.js"></script> 

<!-- <script type="text/javascript" src="js/jquery.form.js"></script> -->
 <link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="listModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <ul></ul>
      </div>
  </div>

        <ul class="nav">
          <li><a href="./#">List</a></li>
          <li><a href="./#/add">Ajouter un evt</a></li>
        </ul>

        <div id="container">
            <div id="Wrapper">
                <form action="/pte/backend/upload-file.php" method="post" enctype="multipart/form-data" id="UploadForm">
                    <input name="MyImg" type="file" />
                    <input name="MyPdf" type="file" />
                    <!-- <input type="submit"  id="SubmitButton" value="Upload" /> -->
                </form>
                <div id="output"></div>
            </div>
            <div id="addForm">
            <input type="hidden" name="id" value="0" />
            <layout> Titre <input type="text" name="title" /></layout><br />
            <layout> Conférences <input type="radio" name="type" value="conferences" /></layout>
            <layout> Concours <input type="radio" name="type" value="concours" /></layout> <br />
            <layout> Le / Du <input type="text" class="datepicker" name="begin_date" /></layout><br />
            <layout> Au <input type="text" class="datepicker" name="end_date" /></layout><br />
            <layout> Lieu <input type="text" name="place" /></layout><br />
            <layout> Img <input type="text" name="img_path" /></layout></br>
            <layout> Pdf <input type="text" name="pdf_path" /></layout></br>
            <layout> Branches 
                <input type="checkbox" name="branch" value="gi"/> gi
                <input type="checkbox" name="branch" value="gb"/> gb
                <input type="checkbox" name="branch" value="gp"/> gp
                <input type="checkbox" name="branch" value="gm"/> gm
                <input type="checkbox" name="branch" value="gsm"/> gsm
                <input type="checkbox" name="branch" value="gsu"/> gsu
            </layout><br />
            <!-- <input id="editor" type="textaera" name="desc" /> <br /> -->
                    <textarea id="editor" class="textarea" name="description" placeholder="Enter text ..." style="width: 810px; height: 200px"></textarea>

            <button id="submitEvt" />Submit</button>
            <a href="./#"> Retour </a>
            <!-- datepicker -->
    </div></div>
        <div id="list-container"></div>
    <script type="text/template" id="list-template">
        <a href="./#/update/<%- id %>"><%- title %></a>
        <a href="./#/evt/<%- id %>">Liste des inscrits</a>
        <button class="delete"> Supprimer ? </button>
    </script>
    </body>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/lib/underscore-min.js" type="text/javascript"></script>
    <script src="/static/lib/backbone-min.js" type="text/javascript"></script>
    <script src="/pte/frontend/config.js" type="text/javascript"></script>
    <script src="/pte/frontend/model.js" type="text/javascript"></script>
    <script src="/pte/admin/admin.js" type="text/javascript"></script>
</html>
